<h1><%= @cocktail.name %></h1>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %> <%= link_to "Remove dose", destroy_dose_path(dose), method: :delete %></li>
<% end %>
</ul>

<%= link_to "Add dose", new_cocktail_dose_path(cocktail_id: @cocktail.id) %>
<br />
<%= link_to "Back to List", cocktails_path %>
